/* Certifications Page Specific Styles */
.certifications-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px; /* Space to the right of each card */
    margin-left: 20px;
}


.certification-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px; /* Space to the right of each card */
    margin-left: 20px; 
    display: flex;
    align-items: center;
    gap: 15px;
}

.certification-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.certification-icon img {
    max-width: 100%;
    max-height: 100%;
}

.certification-info {
    flex: 1;
}

.certification-info h3 {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.certification-info p {
    margin: 5px 0;
}

.certification-info a {
    color: #007BFF;
    text-decoration: none;
    font-weight: 600;
}

.certification-info a:hover {
    text-decoration: underline;
}
